@using Microsoft.AspNet.Identity
@model List<Advanced.Models.Category>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/TeacherSideBar.cshtml";
}
<!-- Instructor Dashboard -->
<div class="col-xl-9 col-lg-8 col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="settings-widget">
                <div class="settings-inner-blk p-0">
                    <div class="sell-course-head comman-space">
                        <h3>Current Category</h3>
                    </div>
                    <div class="comman-space pb-0">
                        <div class="instruct-search-blk">
                            <div class="show-filter choose-search-blk">
                                <form action="#">
                                    <div class="row gx-2 align-items-center">
                                        <div class="col-md-6 col-item">
                                            <div class=" search-group">
                                                <i class="feather-search"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-item">
                                            <div class="input-block select-form mb-0">
                                                @Html.ActionLink("Add New Category", "NewCategory", "Teacher", htmlAttributes: new { title = "Update" })
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="settings-tickets-blk course-instruct-blk table-responsive">

                            <!-- Referred Users-->
                            <table class="table table-nowrap mb-2">
                                <thead>
                                    <tr>
                                        <th>CATEGORY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cate in Model)
                                    {
                                        <tr>
                                            @*<td>
                                                    <div class="sell-table-group d-flex align-items-center">
                                                        <div class="sell-group-img">
                                                            <a href="course-details.html">
                                                                <img src="assets/img/course/course-10.jpg" class="img-fluid " alt="">
                                                            </a>
                                                        </div>
                                                        <div class="sell-tabel-info">
                                                            <p><a href="course-details.html">@lop.name</a></p>
                                                            <div class="course-info d-flex align-items-center border-bottom-0 pb-0">
                                                                <div class="rating-img d-flex align-items-center">
                                                                    <img src="assets/img/icon/icon-01.svg" alt="">
                                                                    <p>10+ Lesson</p>
                                                                </div>
                                                                <div class="course-view d-flex align-items-center">
                                                                    <img src="assets/img/icon/timer-start.svg" alt="">
                                                                    <p>7hr 20min</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>3200</td>
                                                <td><span class="badge info-low">Live</span></td>*@
                                            <td>@cate.ca_name</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- /Referred Users-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Instructor Dashboard -->
